
//global variables


//COLORS
$blue-d:#004990;
$bluish:#e6eaf0;
$comm-d:#fcc520;
$comm-l:#fff7d3;
$grey-l: #e6e6e6;
$grey2:#222222;
$grey3:#333333;
$grey6: #666666;
$red-d: darken(#CF5F65,10%);
$red: #D80027;