
  .h-xxxxxxxxl{
    font-size:52px;
  }
  .h-xxxxxl{
    font-size:42px;
  }
  .h-xxxxl,.h-xxxl{
    font-size:36px;
  }
  .h-xxl{
    font-size:32px;
  }
  .h-xl{
    font-size:28px;
  }
  .h-l{
    font-size:24px;
  }
  .h-m{
    font-size:20px;
  }
  .h-s{
    font-size:18px;
  }
  .h-xs{
    font-size:16px;
  }
  .h-xxs{
    font-size:16px;
  }
  
